:root {
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: pink;
}

.search {
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.search-plane {
  width: 70%;
  height: 25px;
}

.submit {
  width: 20%;
  margin-left: 1vw;
  height: 31px;
}
